.sec-route {
    margin-bottom: 50px;

    .sec-head {
        .heading {
            margin-bottom: 5px;
        }

        .sub-heading {
            color: #858585;
        }

        @include respond (max-414) {
            padding: 20px 0;
            text-align: center;
        }
    }

    .sec-body {
        padding: 0 35px;

        .box-progress {
            background-color: #ccc;
            height: 2px;
            margin: 20px 60px;
            position: relative;

            .dot {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ccc;
                top: -10px;

                &.dot-1 {
                    left: 0;
                }

                &.dot-2 {
                    left: 50%;
                    transform: translateX(-50%);
                }

                &.dot-3 {
                    right: 0;
                }
            }

            @include respond (max-414) {
                margin: 20px 35px;
            }
        }

        .box-level {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .level-child {
                .text {
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .point {
                    color: #fff;
                    background-color: $cl-cyan;
                    font-size: 25px;
                    font-weight: 500;
                    padding: 5px 15px;
                    border-radius: 22.5px;

                    @include respond (max-414) {
                        font-size: 16px;
                    }
                }
            }
        }

        @include respond (max-414) {
            padding: 0;
        }
    }

    @include respond (max-414) {
        margin-bottom: 25px;
    }
}