.test-content-common-child {
    text-align: center;

    p {
        font-weight: normal;
        line-height: 1.5;

        @include respond (max-414) {
            font-size: 14px;
        }
    }

    .text-big {
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: 500;
        margin: 15px 0 35px 0;
        line-height: 1.25;

        @include respond (max-414) {
            font-size: 22px;
        }
    }

    .text-middle {
        font-size: 20px;
        margin-bottom: 20px;

        @include respond (max-414) {
            font-size: 18px;
        }
    }

    .box-button {
        margin-top: 30px;

        .btn {
            padding: 10px 35px;
            font-size: 25px;
            // font-weight: 500;
        }
    }
}