.aside-menu {
    li {
        .menu-title {
            display: block;
            padding: 15px 15px 15px 35px;

            i {
                margin-right: 10px;
                width: 16px;
                color: #666;
            }

            &:hover{
                background-color: #f9f9f9;
            }
        }
    }
}