.box-record {
    margin-bottom: 25px;

    .outer {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #clock,
    #clock-mb {
        font-size: 55px;
        color: #676c82;
        font-family: 'Roboto';
    }

    .buttons {
        height: 80px;
        margin-top: 30px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }

    .buttons>div+div {
        margin-left: 35px;
    }

    .buttons>div {
        position: relative;
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
    }

    #play svg,
    #play-mb svg {
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        width: 36px;
        height: 36px;
        fill: #676c82;
    }


    #pause,
    #pause-mb,
    #play,
    #play-mb {
        width: 60px;
        height: 60px;
        background: #fff;
        // background: #676c82;
        border: 4px solid #676c82;
        transition: background 200ms linear;
        // color: red;
    }

    #pause:hover,
    #pause-mb:hover,
    #play:hover,
    #play-mb:hover {
        background: #676c82;
    }

    #play:hover,
    #play-mb:hover {
        svg {
            fill: #fff;
        }
    }

    #pause:before,
    #pause-mb:before,
    #pause:after,
    #pause-mb:after {
        content: "";
        width: 4px;
        height: 35%;
        top: 32.5%;
        // background: #fff;
        background: #676c82;
        position: absolute;
    }

    #pause:hover:before,
    #pause-mb:hover:before,
    #pause:hover:after,
    #pause-mb:hover:after {
        background: #fff;
    }

    #pause::before,
    #pause-mb::before {
        left: 35%;
    }

    #pause::after,
    #pause-mb::after {
        left: 55%;
    }

    #stop,
    #stop-mb {
        width: 80px;
        height: 80px;
        background: #f15d5d;
        box-shadow: none;
        transition: all 100ms linear;
        // display: none;
    }

    #stop:hover,
    #stop-mb:hover {
        background: #f1593d;
    }

    #stop:active,
    #stop-mb:active {
        box-shadow: inset 0 2px 28px rgba(0, 0, 0, 0.25), inset 0 2px 10px rgba(0, 0, 0, 0.22);
        ;
    }

    #stop:active::before,
    #stop-mb:active::before {
        box-shadow: none;
    }

    #stop::before,
    #stop-mb::before {
        content: "";
        position: absolute;
        top: calc(50% - 14px);
        left: calc(50% - 14px);
        background: #FFF;
        width: 28px;
        height: 28px;
        border-radius: 5px;
        box-shadow: 0 14px 18px rgba(0, 0, 0, 0.11), 0 10px 10px rgba(0, 0, 0, 0.12);
        transition: box-shadow 100ms linear;
    }

}