.modal-submit {
    padding-right: 0 !important;

    .modal-content {
        .modal-header {
            border: none;
            padding: 0;

            button {
                // font-size: 30px;
                padding: 20px 25px 0 0;

                span {
                    font-size: 30px;
                }
            }
        }

        .modal-body {
            text-align: center;

            .title {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .sub-title {
                font-size: 22px;
                color: #333;
                margin-bottom: 30px;
            }

            .text {
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 160px;
                background-color: $cl-cyan;
                border-radius: 50%;
                margin: 20px auto;

                .point {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 600;
                }
            }

            .box-button {
                margin: 20px 0 35px 0;

                .btn {
                    display: block;
                    width: 320px;
                    margin: 0 auto 15px auto;
                }
            }
        }
    }
}

.modal-dialog {
    margin-top: 250px;

    @include respond (max-414) {
        margin-top: 175px;
    }
}

.modal-submit.show {
    opacity: 1 !important;
    background-color: #00000087;
}