.test-content-common {
    border-left: 1px solid $cl-border;
    padding-bottom: 50px;
    min-height: 100vh;

    &.test-content-common-1 {
        border-left: none;
        background-color: #fff;
        min-height: 82vh;
    }

    &.test-content-common-2 {
        border-left: none;
        background-color: #fff;
        padding: 100px 50px;
        min-height: 82vh;


        @include respond (max-414) {
            padding: 20px 15px;
        }
    }
}