.test-detail-mb {
    // margin: 15px 0;

    // .nav-tabs>li>a {
    //     margin: 0;
    //     border: none;
    // }

    // .nav-tabs>li.active>a,
    // .nav-tabs>li.active>a:focus,
    // .nav-tabs>li.active>a:hover {
    //     border: none;
    // }

    .nav.nav-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            &.active {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: $cl-blue-ebomb;
                    border-radius: 3px 3px 0 0;
                    z-index: 2;
                }

            }
        }
    }

    .tab-content {
        // margin: 15px 0;
    }

    @include respond (max-414) {
        margin-bottom: 60px;
    }

    .nav-tabs .nav-item {
        margin: 0;
        border: none;
    }

    .r-tab-list .nav-item,
    .r-tab-list .nav-item:focus,
    .r-tab-list .nav-item:hover {
        border: none;
    }

    .r-tab-custom {
        .r-tab-list {
            .nav-item {
                padding: 10px 15px;

                &.active {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        left: 0;
                        background: $cl-blue-ebomb;
                        border-radius: 3px 3px 0 0;
                        z-index: 2;
                    }
                }
            }
        }

        .tab-content {
            .r-tab-item {
                &.show {
                    opacity: 1 !important;
                }
            }
        }
    }
}